html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
  background-color: rgb(123, 240, 123) !important;
}

@media (prefers-color-scheme: dark) {

  body {
    color: black;
    background-image: radial-gradient(circle, #dad6d5, #c2bfbf, #aba9aa, #949394, #7e7e7e);
  }

  .highlight {
    background-color: rgb(123, 240, 123) !important;
}
}
